In [37]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [41]:
df=pd.read_csv("Life Expectancy Data.csv")
print(df)

          Country  Year      Status  Adult Mortality  infant deaths  Alcohol  \
0     Afghanistan  2015  Developing            263.0             62     0.01
1     Afghanistan  2014  Developing            271.0             64     0.01
2     Afghanistan  2013  Developing            268.0             66     0.01
3     Afghanistan  2012  Developing            272.0             69     0.01
4     Afghanistan  2011  Developing            275.0             71     0.01
...           ...   ...         ...              ...            ...      ...
2933     Zimbabwe  2004  Developing            723.0             27     4.36
2934     Zimbabwe  2003  Developing            715.0             26     4.06
2935     Zimbabwe  2002  Developing             73.0             25     4.43
2936     Zimbabwe  2001  Developing            686.0             25     1.72
2937     Zimbabwe  2000  Developing            665.0             24     1.68

      percentage expenditure  Hepatitis B  Measles    BMI   ...  \
0                  71.279624         65.0      1154   19.1  ...
1                  73.523582         62.0       492   18.6  ...
2                  73.219243         64.0       430   18.1  ...
3                  78.184215         67.0      2787   17.6  ...
4                   7.097109         68.0      3013   17.2  ...
...                      ...          ...       ...    ...  ...
2933                0.000000         68.0        31   27.1  ...
2934                0.000000          7.0       998   26.7  ...
2935                0.000000         73.0       304   26.3  ...
2936                0.000000         76.0       529   25.9  ...
2937                0.000000         79.0      1483   25.5  ...

      Total expenditure  Diphtheria    HIV         GDP  Population  \
0                  8.16         65.0   0.1  584.259210  33736494.0
1                  8.18         62.0   0.1  612.696514    327582.0
2                  8.13         64.0   0.1  631.744976  31731688.0
3                  8.52         67.0   0.1  669.959000   3696958.0
4                  7.87         68.0   0.1   63.537231   2978599.0
...                 ...          ...   ...         ...         ...
2933               7.13         65.0  33.6  454.366654  12777511.0
2934               6.52         68.0  36.7  453.351155  12633897.0
2935               6.53         71.0  39.8   57.348340    125525.0
2936               6.16         75.0  42.1  548.587312  12366165.0
2937               7.10         78.0  43.5  547.358878  12222251.0

       thinness  1-19 years   thinness 5-9 years  \
0                      17.2                 17.3
1                      17.5                 17.5
2                      17.7                 17.7
3                      17.9                 18.0
4                      18.2                 18.2
...                     ...                  ...
2933                    9.4                  9.4
2934                    9.8                  9.9
2935                    1.2                  1.3
2936                    1.6                  1.7
2937                   11.0                 11.2

      Income composition of resources  Schooling  Life expectancy
0                               0.479       10.1             65.0
1                               0.476       10.0             59.9
2                               0.470        9.9             59.9
3                               0.463        9.8             59.5
4                               0.454        9.5             59.2
...                               ...        ...              ...
2933                            0.407        9.2             44.3
2934                            0.418        9.5             44.5
2935                            0.427       10.0             44.8
2936                            0.427        9.8             45.3
2937                            0.434        9.8             46.0

[2938 rows x 22 columns]

In [48]:
df = df[['Life expectancy', 'Schooling']].dropna()
df.rename(columns ={'Life expectancy': 'LifeExpectancy'})

      Life expectancy  Schooling
0                65.0       10.1
1                59.9       10.0
2                59.9        9.9
3                59.5        9.8
4                59.2        9.5
...               ...        ...
2933             44.3        9.2
2934             44.5        9.5
2935             44.8       10.0
2936             45.3        9.8
2937             46.0        9.8

[2768 rows x 2 columns]

In [46]:
X=df.drop(columns=["LifeExpectancy", "Country", "Status"]) 
y=df[['LifeExpectancy']]

KeyError: "['LifeExpectancy', 'Country', 'Status'] not found in axis"

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [ ]:
correlation_matrix = X.corr()

In [ ]:
print(correlation_matrix)
plt.figure(figsize=(10,8))
#visualize the correlation matrix as a heatmap
sns.heatmap(correlation_matrix,annot=True, cmap="coolwarm")
plt.title("Correlation Matrix")
plt.show()